.Home-Display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-task-input {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}

.create-task-button {
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.taskDiv {
  display: flex;
  align-items: center;
  width: 345px;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 35px;
  padding: 2px 5px 2px 5px;
  margin-top: 2px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox .icon {
  margin-right: 5px;
  font-size: 15px;
}

.taskDiv div span {
  margin: 0px 5px 0px 4px;
}

.taskDiv div .task-icon {
  cursor: pointer;
}

.task-text {
  padding: 10px;
}

.task-text-done {
  padding: 10px;
  text-decoration: line-through;
}